#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
  background-color: #cf9e9e;
}
.hero-content {
  max-width: 500px;
}
.hero-image img {
  width: 450px;
  border-radius: 10px;
}
/* 📱 Mobile */
@media (max-width: 768px) {
  #hero {
    flex-direction: column;
    text-align: center;
  }
  .hero-image img {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}